<launch>
    <!-- <include file="$(find orbbec_camera)/launch/femto_mega.launch">
        <arg name="camera_name" value="femto_mega"/>
    </include> -->
    <group ns="realsense">
        <include file="$(find realsense2_camera)/launch/rs_camera.launch">
            <arg name="enable_sync" value="true"/>
            <arg name="align_depth" value="true"/>
        </include>
    </group>

    <node name="camera" pkg="wrist_camera" type="camera.py" output="screen">
    </node>

</launch>